---
layout: default
title: Projects
---

<div id="home">
  <div class="row marketing">
          <p class="">{{ site.accroche }}</p>
  </div>
  <h2>Visualization & user interfaces</h2>
      <div class="row">
      {% for post in site.posts %}
        {% if post.categories contains 'project' and post.tags contains 'interface' %}
          <div class="text-center col-sm-4">
                <img class="img-circle" data-src="holder.js/200x200" class="img-thumbnail" alt="100x100" src="{{ site.url }}/assets/images/{{ post.title | downcase }}_1.png" style="width: 150px; height: 150px;">
              <h4>{{ post.title }}</h4>
              {% if post.description %}{{ post.description }}{% else %}{{ post.subtitle }}{% endif %}
              <br />
                <a href="{{ post.url }}">View details</a>
          </div>
        {% endif %}
      {% endfor %}
      </div>
      <h2>Projects published on GitHub</h2>
      <div class="panel panel-default">
          <div class="panel-body">
              <table class="table table-striped table-hover ">
                  <tbody>
                  {% for post in site.posts %}
                  {% if post.categories contains 'project' and post.tags contains 'open' %}
                  <tr>
                      <td width="10%">{{ post.title }}</td>
                      <td width="70%">{% if post.description %}{{ post.description }}{% else %}{{ post.excerpt }}{% endif %}</td>
                      <td width="20%"><a href="{{ post.url }}">View details</a></td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>

</div>
