body {
  padding-top: 50px;
}

/* Custom styles
-------------------------------------------------- */

.container {
	max-width:900px;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
	display: block;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto 0px;
	margin-top:20px;
}	

div.projects div:first-of-type {
	height: 200px;
}

div.panel-body {
    padding:0;
}

#footer{
	display:block;
    background-color: rgb(245, 245, 245);
	height: 60px;
	/*text-align: center;*/
	font-size: 12px;
	margin-top:20px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Project page presentation */
div.project p.description {
    font-style: italic;
}
.thumbnail.with-caption {
    display: inline-block;
    text-align: center;
    background: #f5f5f5;
}
.thumbnail.with-caption p {
    margin: 0;
    padding-top: 0.5em;
}
.thumbnail.with-caption small:before {
    content: '\2014 \00A0';
}
.thumbnail.with-caption small {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #999;
}

div.thumbnail {
	width:  260px;
	height: 160px;
	margin: 10px;
}

/* Lightbox - personal impelementation */
div.lightbox {
	position: fixed;
	display:none;
	transition: all 2s;
	-webkit-transition: all 2s;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	z-index: 1060;
}

div.lightbox .background {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.5;
	background-color: grey;
}

div.lightbox .content {
	position: absolute;
	margin: auto;
	top: 15%;
	left: 50%;
	background-color: white;
}

.lightbox .content img {
	width: 50em;
}
