<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1">
        <title>{{site.name}} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <!-- Basic Bootstrap CSS -->
        <link href="/assets/css/bootstrap_journal.min.css" rel="stylesheet">
        <link href="/assets/css/bootstrap-social.css" rel="stylesheet">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
        <!-- Custom template CSS -->
        <link href="/assets/css/custom-template.css" rel="stylesheet">
    </head>
    <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown{% if page.categories contains 'project' %} active {% endif %}">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">Projects<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <!-- <li class="dropdown-header">Music</li> -->
                {% for post in site.posts %}
                {% if post.categories contains 'project' %}
                  <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                     <!-- <li class="divider"></li> -->
                  </li>
                {% endif %}
                {% endfor %}
              </ul>
            </li>
            {% for p in site.pages %}
              {% unless p.title == "Home" or p.title == "About" %}
              <li {% if p.url == page.url %}class="active"{% endif %}>
                <a href="{{ p.url }}">{{ p.title }}</a>
              </li>
              {% endunless %}
            {% endfor %}
          </ul>
          <ul class="nav-network">
            <li>
	    <a class="btn btn-sm btn-social-icon btn-google-plus" href="mailto:{{site.mail}}" data-toggle="tooltip" data-placement="bottom" title="{{site.mail}}">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
               <a class="btn btn-sm btn-social-icon btn-twitter" href="https://twitter.com/francoiscabrol" data-toggle="tooltip" data-placement="bottom" title="@francoiscabrol on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
	    <a href="https://github.com/francoiscabrol" class="btn btn-sm btn-social-icon btn-github" data-toggle="tooltip" data-placement="bottom" title="My GitHub">
                <i class="fa fa-github"></i><D-r>
              </a>
            </li>
            <li>
              <a href="https://soundcloud.com/francoiscabrol" class="btn btn-sm btn-social-icon btn-soundcloud"  data-toggle="tooltip" data-placement="bottom" title="My SoundCloud">
                <i class="fa fa-soundcloud"></i>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container theme-showcase wrap" role="main">
          {{ content }}
    </div>
    <div id="footer">
      <div class="container">
          © Copyright <a href="/about/">François Cabrol</a> |
          <a href="https://github.com/francoiscabrol">github.com/francoiscabrol</a> -
          <a href="https://twitter.com/francoiscabrol">twitter.com/francoiscabrol</a><br />
          This web site is powered by <a href="http://jekyllrb.com">Jekyll</a, <a href="http://getbootstrap.com"> Bootstrap </a> and <a href="http://pages.github.com"> GitHub Pages </a>.
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/lightlightbox.js"></script>
    <script src="/assets/js/custom.js"></script>
    </body>
</html>
