---
layout: default
---

<div class="project">
    <h1>{{ page.title }} <small>- {{ page.subtitle }}</small>
        </h1>
    {% if page.description %}
    <p class="lead">
        {{page.description}}
    </p>
    {% endif %}
    {% if page.website or page.repository %}
    <ul class="list-inline">
        {% if page.website %}
        <li><a href="{{page.website}}" class="btn btn-info btn-sm" role="button">{{page.title}} web page</a></li>
        {% endif %}
        {% if page.website and page.repository %} | {% endif %}
        {% if page.repository %}
        <li><a href="{{page.repository}}" class="btn btn-primary btn-sm" role="button">{{page.title}} repository</a></li>
        {% endif %}
    </ul>
    {% endif %}
   <div class="post">
    {{ content }}
   </div>
</div>
